*{
  box-sizing: borde-box;
  font-family: arial, sans-serif;
  // outline: 1px solid red;
}

.profile{
  &__container1 {
  	width: 465px;
  	background: #d8dfea;
  	border: 2px solid #b5c0d4;
  	border-radius: 15px;
  	margin: 75px auto;
  }
  &__container2 {
  	background: #ffffff;
  	margin: 50px 17px 17px 17px;
  	border-radius: 20px;
  }
  &__figure-container {
  	display: flex;
  	justify-content: center;
  }
  &__photo {
  	width: 130px;
  	height: 130px;
  	border: 2px solid #d4dee8;
  	border-radius: 50%;
  	position: relative;
  	left: 11px;
  }
  &__photo-caption {
  	text-align: center;
  	color: #545a61;
  	font-weight: bold;
  	font-size: 20px;
  	margin-top: 10px;
  }
  &__name {
  	font-size: 30px;
  }
  &__description {
  	margin-top: 0;
  	text-align: center;
  	color: #aaabad;
  	font-weight: bold;
  	font-size: 20px;
  	position: relative;
  	top: -15px;
  }
  &__buttons-container {
  	background: #f0f2f6;
  	height: 80px;
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
  	align-items: center;
  	border-bottom: 2px solid #d7dbe4;
  	position: relative;
  	top: -20px;
  }
  &__buttons {
  	border: 0;
  	background: #f0f2f6;
  	color: #abb6cb;
  	font-size: 30px;
  	margin: 0 10px;
  }
  &__stat-container {
  	height: 70px;
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
  	align-items: center;
  	background: #ffffff;
  	position: relative;
  	top: -10px;
  }
  &__stats-dec {
  	border-left: 2px solid #e1e3e8;
  	border-right: 2px solid #e1e3e8;
  }
  &__stats {
  	padding: 0 15px;
  	text-align: center;
  	font-size: 25px;
  	font-weight: bold;
  	color: #646365;
  }
  &__stats-tff {
  	font-weight: normal;
  	color: #9c9c9f;
  }
  &__pointer {
  	width: 10px;
  	height: 10px;
  	background: #ff0000;
  	border-radius: 50%;
  	position: absolute;
  	bottom: 160px;
  	right: 512px;
  }
}